/* Global Resets*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-size: 100%;
  font-family: "Roboto";
  margin: 0;
}

:root {
  --size-xxs: 14px;
  --size-xs: 16px;
  --size-s: 20px;
  --size-m: 24px;
  --size-l: 28px;
  --size-xl: 32px;
  --size-xxl: 48px;
  --size-huge: 64px;

  --color-blue: #005d79;
  --color-black: #050505;

  --bg-color-white: white;
  --bg-color-black: #050505;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  width: 100%;
}

/*imp! HEADER */

header {
  height: 5rem;
  width: 100%;
  background-color: white;
  box-shadow: 0rem 0.25rem 0.938rem #00000010;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  text-align: center;
  width: 100%;
  margin: 0%;
}

.logo-div {
  width: 6rem;
  height: 3.0125rem;
}

.logo-div img {
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  background-color: #fff;
  z-index: 80;
}

.nav-links a {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 500;
  color: #000;
  padding: 1.8rem 1.5rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  width: 100%;
}

@media (width>850px) {
  .nav-links li {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 5rem;
    min-width: 6rem;
    /* padding: 0rem 0.5rem; */
    transition: all 0.2s ease-in-out;
  }

  .nav-links li:hover {
    background-color: var(--background-color-addbtn-hover);
  }
}

.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 0%;
  height: 1px;
  transition: all 0.2s ease-in-out;
}

.nav-links li a:hover:after {
  width: 100%;
}

.c-open-menu,
.c-close-menu {
  position: absolute;
  color: #000000;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.c-open-menu {
  top: 35%;
  right: 1.25rem;
  transform: translateY(-50);
}

.c-close-menu {
  top: 2rem;
  right: 1.25rem;
}

.nav-icons i {
  padding-left: 1.7rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.search-box {
  display: flex;
  height: 2rem;
  cursor: pointer;
  background-color: #fff;
  align-items: center;
  transition: all 0.2s ease-in;
  padding-left: 0.5rem;
  border-radius: 0.3rem;
}

.search-box:hover input {
  width: 15rem;
  padding-left: 1rem;
}

.search-box:hover {
  border: 1.5px solid lightgray;
}

.search-box a i {
  padding-left: 0;
  color: #000000;
}

.search-box input {
  width: 0;
  outline: none;
  border: transparent;
  transition: all 0.2s ease-in;
  background: transparent;
  font-family: "Roboto";
  font-size: 1rem;
}

#check {
  display: none;
}

.jacket-categories-main {
  position: absolute;
  top: 5rem;
  overflow: hidden;
  background-color: #fff;
  min-width: 13rem;
  max-height: 14rem;
  opacity: 0;
  visibility: hidden;
}

.jacket-categories-sub ul {
  display: flex;
  flex-direction: column;
}

.jacket-categories-sub ul li a {
  display: block;
  width: 100%;
}

.nav-links li:hover .jacket-categories-main {
  visibility: visible;
  transition: max-height 0.2s ease-in;
  opacity: 1;
}

.nav-login {
  color: #000000;
}

.jacket-links-mobile {
  display: none;
}

@media (width <850px) {
  .nav-links a {
    font-size: 1rem;
    font-family: "Poppins";
    font-weight: 500;
    color: #fff;
  }

  .jacket-links-mobile .c-summary-btn {
    display: flex;
    align-items: center;
    height: 3.6rem;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: lightgray;
      color: #000000;
      border-bottom: 0.7rem solid red;
      margin: auto;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100dvh;
    padding-bottom: 5rem;
    position: fixed;
    top: 0%;
    right: -100%;
    z-index: 100;
    background-color: #03346e;
    transition: all 0.5s ease-in-out;
  }

  .nav-links li {
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav-links li :hover {
    background-color: lightgray;
    display: flex;
    width: 100%;
  }

  .nav-links li .nav-item {
    padding: 1rem;
    color: white;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .nav-links li .nav-item:hover {
    color: #000000;
    border-bottom: 0.7rem solid red;
    margin: auto;
  }

  .c-open-menu,
  .c-close-menu {
    display: flex;
  }

  .c-close-menu i {
    color: white;
  }

  #check:checked ~ .nav-links {
    right: 0%;
  }

  .jacket-categories-main {
    position: absolute;
    top: 15rem;
    overflow: hidden;
    background-color: #fff;
    min-width: 13rem;
    max-height: 7rem;
    opacity: 0;
    visibility: hidden;
  }

  .jacket-categories-sub ul {
    display: flex;
    flex-direction: column;
  }

  .jacket-categories-sub ul li a {
    display: block;
    width: 100%;
    padding: 0.3rem 0.7rem;
  }

  .nav-links li:hover .jacket-categories-main {
    visibility: visible;
    transition: max-height 0.2s ease-in;
    opacity: 1;
  }

  .jacket-links-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #jacket-links {
    display: none;
    background-color: red;
  }

  .jacket-links-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }

  .jacket-summary {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
    font-family: "Poppins";
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
  }

  .jacket-summary::-webkit-details-marker {
    display: none;
  }

  .jacket-links-mobile .jacket-summary:hover {
    background-color: lightgray;
    color: #000000;
    width: 100%;
    border-bottom: 0.7rem solid red;
    margin: auto;
  }
}

.nav-icons {
  display: flex;
  align-items: center;
}

@media (width<600px) {
  .desktop-nav {
    padding: 2rem 4rem 2rem 1.3rem;
  }
}

/* Main */

.l-main {
  margin-top: 81px;
}

.c-hero {
  display: flex;
  width: 100%;
}
.c-hero-text-container {
  display: flex;
  position: relative;
}

.img-overlay {
  background-color: #000;
}

.img-overlay img {
  opacity: 70%;
  height: 100%;
}

.c-hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.c-hero-header {
  font-size: var(--size-l);
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.c-under-text {
  font-size: var(--size-s);
}

.c-padding {
  padding-bottom: 1rem;
}

.c-btn-explore {
  display: flex;
  background-color: orangered;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  font-size: var(--size-s);
}

.c-about {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.c-h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--size-s);
  font-family: Cinzel;
  font-weight: bold;
  color: var(--color-blue);
}

.c-line-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 4rem;

  .c-line {
    width: 100%;
    border-top: 1px solid black;
  }
}

.c-text {
  display: flex;
  flex-direction: column;
  font-size: var(--size-xs);
  font-weight: 400;
  font-family: "Lucida Sans";
}

.c-about-text {
  gap: 0.5rem;
  padding-top: 1rem;
}

.c-about-img {
  display: none;
}

.c-news {
  display: flex;
  flex-direction: column;
  padding: 2rem 30px 0px 30px;
  justify-content: center;
  align-items: center;
}

.c-news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.c-news-1 {
  display: flex;
  flex-direction: column;
  min-width: 240px;
}

.c-news-text {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.77);
}

.c-h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: var(--size-xs);
  font-family: Cinzel;
  font-weight: bold;
  color: var(--color-blue);
}

.c-news-text p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.c-news-time {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.c-reviews {
}

@media only screen and (width>400px) {
  .c-about-img {
    display: flex;
  }
}

/* FOOTER */

.l-footer {
  padding-top: 1rem;
}
